
api/anomaly-detection/SiaraSentinelDZ_v2.joblib

*.joblib

node_modules/

client/node_modules/

client/android/build/

client/android/.gradle/

client/android/app/build/

client/android/app/.cxx/

.expo/

client/.expo/

*firebase-adminsdk*.json
